// theme colors
$primary: #2196F3;
$secondary: #9E9E9E;
$error: #F44336;
$info: #03A9F4;
$warning:#FFC107;
$white:#FFFFFF;
$black:#000000;

// color palette
$colors:(
   "primary": $primary,
  "secondary": $secondary,
  "error": $error,
  "info": $info,
  "warning":$warning,
  "white":$white,
  "black":$black,
  "purple":#9C27B0,
  "yellow":#FFEB3B,
  "orange":#FF9800,
  "pink":#E91E63,
  "teal":#009688,
  "cyan":#00BCD4,
  "green":#4CAF50,
  "mint":#8BC34A,
  "lime":#CDDC39,
  "cloud":#607D8B
);

// spacing
$base-padding : 0.75rem;
$base-margin : 0.75rem;

// borders
$base-border-width: 1px;
$border-width-2:2px;
$border-width-3:3px;
$border-width-4:4px;
$border-width-5:5px;

$base-border-radius: 16px;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
$sm-box-shadow: 0.75px 2.25px 3.75px rgba(0,0,0,0.075);
$lg-box-shadow: 1.5px 4.5px 7.5px rgba(0,0,0,0.15);


// font sizes
$base-font-size: 1rem;
$base-line-height:1.5;
$sm-line-height:1.25;
$lg-line-height:2;


// grid columns
$grid-columns:12;